<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<jmxConfigurator />

	<!-- 控制台输出 -->
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<!-- 典型的日志pattern -->
		<encoder>
			<!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<!--文件-->
	<!-- 综合时间与大小的滚动策略，先按小时滚动，小时内的文件大于10mb时再按大小滚动 -->
	<appender name="rolling" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/data/logs/admin/${logger.profile}/${logger.profile}.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>/data/logs/newLifeCharge/${logger.profile}/${logger.profile}-%d{yyyy-MM-dd_HH}.%i.zip</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
		</encoder>
	</appender>

	<!-- project default level -->
	<logger name="com.newlife.charge" level="DEBUG" />
	<logger name="org.springframework" level="INFO" />
	<logger name="org.apache.shiro" level="INFO" />

	<!-- root -->
	<root level="WARN">
		<!--切换日志输入位置-->
		<appender-ref ref="console" />
		<!--<appender-ref ref="rolling" />-->
	</root>
</configuration>